.card {
  border-radius: 4px !important;
  border-style: solid !important;
  border-color: rgb(var(--pri-bgd-clr)) !important;
  border: none !important;
  background-color: rgb(var(--pri-bgd-clr)) !important;
  color: var(--pri-clr);
  height: 100%;
  position: relative;
}

.card-body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.card-text {
  flex-grow: 1;
}

.card:hover {
  -webkit-box-shadow: var(--pri-shadow);
  box-shadow: var(--pri-shadow);
}

.title {
  /* color: #ec5b69; */
  color: rgb(var(--pri-clr));
}

.linkWrapper {
  margin-top: 5px;
  margin-bottom: 5px;
}

.link {
  /* color: #dfe0e2; */
  color: rgb(var(--sec-clr));
}

.link:hover {
  /* color: #ec5b69; */
  color: rgb(var(--pri-clr));
}

@media (max-width: 600px) {
  #projectList {
    justify-content: center;
  }

  .card:hover {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
}
