.form {
  caret-color: #eb5160;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inherit;
  color: #d4d6d8;
  padding-right: 30px;
  border-right: 1px solid #eb5160;
}

.form > * {
  background-color: #161616;
  color: #d4d6d8;
  border: transparent;
  margin: 5px;
  padding: 15px 15px;
}

.form > label {
  caret-color: transparent;
  background-color: inherit;
  padding: 5px;
  margin-bottom: -5px;
}

.form > *:focus {
  outline: none;
  border: 1px solid #eb5160;
}

.form > input:-webkit-autofill {
  -webkit-text-fill-color: #d4d6d8;
  box-shadow: 0 0 0px 30px #161616 inset;
  -webkit-box-shadow: 0 0 0px 30px #161616 inset;
  outline: none;
}

.form > .textarea {
  height: 10rem;
}

.form > .error {
  color: #eb5160;
  border: 1px solid #7b0100;
  /* opacity: ; */
  background-color: rgb(123, 1, 0, 0.25);
  /* border-radius: 3px; */
}

.form > .submit {
  color: #eb5160;
  font-size: larger;
  font-weight: bold;
}
