#contactWrapper {
  color: #d4d6d8;
  margin-left: 10px;
}

#contactWrapper a {
  color: #d4d6d8;
}

#contactWrapper a:hover {
  color: #eb5160;
}

#direct {
  margin: 15px;
}

#direct > .item {
  padding: 5px;
}
#social {
  margin-left: 15px;
  margin-top: 30px;
}

#social > .item {
  padding: 5px;
}
