#contactWrapper {
  /* color: #d4d6d8; */
  color: rgb(var(--sec-clr));
  margin-left: 10px;
}

#contactWrapper a {
  color: rgb(var(--sec-clr));
}

#contactWrapper a:hover {
  color: rgb(var(--pri-clr));
}

#direct {
  margin: 15px;
}

#direct > .item {
  padding: 5px;
}
