.form {
  /* caret-color: #eb5160; */
  caret-color: rgb(var(--pri-clr));
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: inherit;
  /* color: #d4d6d8; */
  padding-right: 30px;
  /* border-right: 1px solid #eb5160; */
  /* border-right: 1px solid rgb(var(--pri-clr)); */
}

.form > * {
  /* background-color: #161616; */
  background-color: rgb(var(--sec-bgd-clr));
  /* color: #d4d6d8; */
  color: rgb(var(--sec-clr));
  border: transparent;
  border-radius: 4px;
  margin: 5px;
  padding: 15px 15px;
}

.form > label {
  caret-color: transparent;
  background-color: inherit;
  padding: 5px;
  margin-bottom: -5px;
}

.form > *:focus {
  outline: none;
  /* border: 1px solid #eb5160; */
  border: 1px solid rgb(var(--pri-clr));
}

.form > input:-webkit-autofill {
  -webkit-text-fill-color: rgb(var(--sec-clr));
  box-shadow: 0 0 0px 30px rgba(var(--pri-clr), 0.01) inset;
  -webkit-box-shadow: 0 0 0px 30px rgba(var(--pri-clr), 0.01) inset;
  outline: none;
}

.form > .textarea {
  height: 10rem;
}

.form > .error {
  /* color: #eb5160; */
  color: rgb(var(--pri-clr));
  border: 1px solid rgb(var(--err-clr));
  /* opacity: ; */
  background-color: rgba(var(--err-bgd-clr), 0.25);
  /* border-radius: 3px; */
}

.form > .submit {
  color: rgb(var(--pri-clr));
  font-size: larger;
  font-weight: bold;
}

.form > .submit:hover {
  color: rgb(var(--pri-bgd-clr));
  background-color: rgb(var(--pri-clr));
  cursor: pointer;
}
