#projectList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#projectList > .item {
  padding: 0.25rem;
  margin: 0.5rem;
  width: 250px;
}

.techPic {
  width: 30px;
  padding-left: 0px;
  margin: 0.25rem;
}

.techPic > svg {
  width: 30px;
}

@media (max-width: 600px) {
  #projectList {
    justify-content: center;
  }
}
