.srcDropdown {
  background-color: #1f1f1f !important;
}

.srcDropdown > * {
  background-color: #1f1f1f !important;
  color: #d4d6d8 !important;
}

.srcDropdown > *:hover {
  color: #ec5b69 !important;
}

.text {
  flex-grow: 1;
}
