.splash {
  /* min-width: 80vw; */
  width: 80vw;
  min-height: 100vh;
  height: 100vh;
  /* padding: 30px; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  caret-color: transparent;
}

#status {
  color: #eb5160;
}

#status .blink {
  font-family: "Fira Code", monospace;
  animation: blinkingText 2s infinite;
  /* color: #0ff; */
}

@keyframes blinkingText {
  25% {
    opacity: 0;
  }
}
